<div>
    <div class='nav-bar'>
        <h3>AlexxBot</h3>
        <div class="nav-bar__menu">
            <ul>
                <li>
                    <a routerLink='/'>Home Page</a>
                </li>
                <li>
                    <a routerLink='/product'>Product</a>
                </li>
            </ul>
        </div>
        <div class="nav-bar__options">
            <button routerLink='/'>Logout</button>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
        <!-- <app-root></app-root> -->
    </div>
</div>